# Build artifacts
build/
**/build/
**/build-*/
**/cmake-build-*/

# Conan
.conan_cache
**/conan.lock
**/conanbuildinfo.txt
**/conanbuildinfo.cmake
**/conan_toolchain.cmake
**/conan*info*.json
**/conan*build*.cmake
**/conan_profiles/*
.conan_cache/
conan/
data/

# IDE / tooling
.vscode/
.idea/
*.user
*.suo
*.vcxproj*
*.sln
CMakeUserPresets.json

# OS
.DS_Store
Thumbs.db

# Local docs
MATLAB-to-Cplusplus.md

#folder
md/
tools/
scripts/
run_all_rpf.ps1

# Coverage
coverage/
coverage.xml
LastCoverageResults.log
