# Build artifacts
**/build/
**/build-*/
**/cmake-build-*/

# Conan
**/conan.lock
**/conanbuildinfo.txt
**/conanbuildinfo.cmake
**/conan_toolchain.cmake
**/conan*info*.json
**/conan*build*.cmake
**/conan_profiles/*

# IDE / tooling
.vscode/
.idea/
*.user
*.suo
*.vcxproj*
*.sln
CMakeUserPresets.json

# OS
.DS_Store
Thumbs.db

# Local docs
MATLAB-to-Cplusplus.md

#folder
md/
tools/

# Coverage
coverage.xml
LastCoverageResults.log
